{
  "presets": ["es2015", "stage-2", "react"],
        "plugins": [
          "syntax-flow",
          "ramda",
          "transform-class-properties",
          "transform-flow-strip-types",
          ["transform-react-remove-prop-types", {"mode": "wrap"}],
          "add-module-exports"
        ]
}
