{
  "env": {
    "story": {
      "presets": [["env", { "modules": "commonjs" }], "react"],
        "plugins": [
          "transform-class-properties",
          "transform-object-rest-spread",
          "transform-flow-strip-types"
        ]
    },
    "development": {
      "sourceMaps": "both",
      "presets": ["./internal/babel/env-preset", "react"],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-flow-strip-types"
      ]
    },
    "test": {
      "sourceMaps": "both",
      "presets": ["./internal/babel/env-preset", "react"],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-flow-strip-types"
      ]
    },
    "production": {
      "compact": true,
      "comments": false,
      "presets": ["./internal/babel/env-preset", "react"],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-react-constant-elements",

        ["transform-react-remove-prop-types", {
          "mode": "wrap",
          "plugins": [
            "babel-plugin-transform-flow-strip-types"
          ]
        }]
      ]
    }
  }
}
