{
  "presets": ["./internal/babelrc", "stage-2", "react"],
  "plugins": [
    "syntax-flow",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "plugins": [
        "ramda",
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-flow-strip-types",
        ["transform-react-remove-prop-types", {"mode": "wrap"}]
      ]
    }
  }
}
