{
  "extends": ["boldr", "boldr/react", "boldr/import", "boldr/flowtype"],
  "rules": {
    "camelcase": 0,
    "id-match": 0,
    "linebreak-style": 0,
    "no-confusing-arrow": 0,
    "babel/new-cap": 0
    }
}
