.#{$dash-ns}footer {
  min-height: $dash-footer-height;
  padding: 0 $spacer-x;
  line-height: $dash-footer-height;
  color: $dash-footer-color;
  background: $dash-footer-bg;
  @include borders($dash-footer-borders);
}
