.#{$boldr-ns}dashboard-footer {
  min-height: $dashboard-footer-height;
  padding: 0 $spacer-x;
  line-height: $dashboard-footer-height;
  color: $dashboard-footer-color;
  background: $dashboard-footer-bg;
  @include borders($dashboard-footer-borders);
}
