////
/// @group dashboard-layout
////

/// IE10&11 Flexbox fix

.#{$dash-ns}wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.#{$dash-ns}footer {
  flex: 0 0 $dash-footer-height;
}
