$boldr-ns: 'boldrui-';

$shadow-color: rgba(0, 0, 0, .2);
$box-shadow: 0 0 5 $shadow-color;

$body-background: #e5eaed;


$primary-button-bg: $primary-color;
$primary-button-bg-hover: darken($primary-color, 5%);

$selection-color: darken($snow, 3%);
$link-color: $accent-color;
$error-color:  $md-red-700;
$footer-bg: $mirage;
$text-color: $near-black;
$header-font-color: $navy;
// Borders
$border-color: $cloud;

/// Font
$font-name: 'Roboto';
$font-family: $font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$header-font-name: 'Roboto';

$header-font-family: $header-font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif;

$font-size-base: 1em;
$font-size-large: 2em;
$font-size-small: 0.9em;
$font-size-xsmall: 0.7em;

$line-height-base: 1.5;

$font-weight-base: 400;
$font-weight-thin: 200;
$font-weight-bold: 600;

$header-font-weight: $font-weight-thin;
$header-font-case: none;


$window-medium: 768;
$window-large: 992;
$window-xlarge: 1200;

$padding: 4;
$transition-function: cubic-bezier(.25, .8, .25, 1);
$transition-duration: .25s;


$toolbar-height: 64;
$toolbar-z-index: 6;

$grid-columns: 12;

$grid-gutter: 1rem;

$grid-breakpoints: (
  xs: false,
  sm: 46em,
  md: 61em,
  lg: 75em
);

$grid-containers: (
  xs: false,
  sm: 46rem,
  md: 61rem,
  lg: 76rem,
);

$primary-header-link-color: $near-black;
$primary-header-link-hover-color: $accent-color;
$primary-header-border: 1 solid $cloud;
$primary-header-bg: $white;
$primary-header-link: $ocean;


$btn-font-weight: $font-weight-base;
$border-radius: 0.25rem;
$btn-border-radius: $border-radius;
$btn-line-height: 1.25;
$border-width: 1;
$input-btn-border-width: $border-width;
$btn-padding-x: 1rem;
$btn-padding-y: 0.5rem;


/// The primary color to use throughout the app. This should be a color
/// with a `-500` suffix.
/// @type Color
/// @group themes
$md-primary-color: $md-indigo-500 !default;

/// The opacity to apply to the primary color with the `md-background--primary` class name.
/// @type Number
/// @group themes
$md-primary-hover-opacity: .9 !default;

/// The text color to use for any text that inside the `.md-background--primary` class name.
/// This should ideally pass the color contrast test when.
/// @type Color
/// @group themes
$md-primary-background-text-color: $md-white-base !default;

/// The secondary color to use throughout the app. This should be a color
/// with a `-a-{NUMBER}` suffix.
/// @type Color
/// @group themes
$md-secondary-color: $md-pink-a-200 !default;

/// The opacity to apply to the secondary color with the `md-background--secondary` class name.
/// @type Number
/// @group themes
$md-secondary-hover-opacity: .9 !default;

/// The text color to use for any text that inside the `.md-background--secondary` class name.
/// This should ideally pass the color contrast test when.
/// @type Color
/// @group themes
$md-secondary-background-text-color: $md-white-base !default;

/// Boolean if the application is to be themed with the light theme.
/// @type Boolean
/// @group themes
$boldrui-light-theme: true !default;

/// The default transition time to use on most animations/transitions.
/// @type Number
/// @group transitions
$transition-time: .15s !default;

/// The default min width for a mobile device.
/// @type Number
/// @group media-queries
$md-mobile-min-width: 320px !default;

/// The default min width for a tablet device.
/// @type Number
/// @group media-queries
$md-tablet-min-width: 768px !default;

/// The default min width for a desktop screen.
/// @type Number
/// @group media-queries
$md-desktop-min-width: 1025px !default;

/// The default mobile media query.
/// @type String
/// @group media-queries
$md-mobile-media: 'screen and (min-width: #{$md-mobile-min-width})' !default;

/// The default media query for a portrait mobile device.
/// @type String
/// @group media-queries
$md-mobile-portrait-media: 'screen and (min-width: #{$md-mobile-min-width}) and (orientation: portrait)' !default;

/// The default media query for a landscape mobile device.
/// @type String
/// @group media-queries
$md-mobile-landscape-media: 'screen and (min-width: #{$md-mobile-min-width}) and (orientation: landscape)' !default;

/// The default media query for a tablet device.
/// @type String
/// @group media-queries
$md-tablet-media: 'screen and (min-width: #{$md-tablet-min-width})' !default;

/// The default media query for a portrait tablet device.
/// @type String
/// @group media-queries
$md-tablet-portrait-media: 'screen and (min-width: #{$md-tablet-min-width}) and (orientation: protrait)' !default;

/// The default media query for a landscape tablet device.
/// @type String
/// @group media-queries
$md-tablet-landscape-media: 'screen and (min-width: #{$md-tablet-min-width}) and (orientation: landscape)' !default;

/// The default media query for a desktop device.
/// @type String
/// @group media-queries
$desktop-media: 'screen and (min-width: #{$md-desktop-min-width})' !default;

/// Boolean if the media queries should be included by default for all component mixins.
/// Set this to false if you want to manually include them. It is really only beneficial
/// if you want to join all media queries into one, but you can always use a postcss plugin
/// to combine them if you are worried about bundle size.
/// @type Boolean
/// @group media-queries
$media-included: true !default;


/// The default accessible height for a lot of material design components.
/// @type Number
/// @group defaults
$md-height: 48px !default;

/// The default padding used for most material design components.
/// @type Number
/// @group defaults
$md-default-padding: 16px !default;
