/// Namespace
$boldr-ns: 'boldrui-' !default;

/// Typography
/// @group typography
$font-name: 'Roboto' !default;
/// @group typography
$font-family: $font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif !default;
/// @group typography
$header-font-name: 'Roboto' !default;
/// @group typography
$header-font-family: $header-font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif !default;
/// @group typography
$font-size-base: 1rem !default;
/// @group typography
$font-size-large: 2rem !default;
/// @group typography
$font-size-small: 0.9rem !default;
/// @group typography
$font-size-xsmall: 0.7rem !default;
/// @group typography
$line-height-base: 1.5 !default;
/// @group typography
$font-weight-base: 400 !default;
/// @group typography
$font-weight-thin: 200 !default;
/// @group typography
$font-weight-bold: 600 !default;
/// @group typography
$header-font-weight: $font-weight-thin !default;
/// @group typography
$btn-font-weight: $font-weight-base !default;
/// @group typography
$header-font-case: none !default;


/// Options
/// @group options
// Quickly modify global styling by enabling or disabling optional features.
$enable-transitions: true !default;
/// @group options
$enable-rounded: false !default;
/// @group options
$enable-sidebar-nav-rounded: false !default;
$border-width: 1px;
$window-medium: 768 !default;
$window-large: 992 !default;
$window-xlarge: 1200 !default;

/// The default padding used for most material design components.
/// @type Number
/// @group defaults
$md-default-padding: 16px !default;

/// Spacing
$spacer: 1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: ( q: ( x: ($spacer-x * 0.25), y: ($spacer-y * 0.25)), h: ( x: ($spacer-x * 0.5), y: ($spacer-y * 0.5)), 0: ( x: 0, y: 0), 1: ( x: $spacer-x, y: $spacer-y), 2: ( x: ($spacer-x * 1.5), y: ($spacer-y * 1.5)), 3: ( x: ($spacer-x * 3), y: ($spacer-y * 3))) !default;

$btn-line-height: 1.25 !default;
$input-btn-border-width: $border-width !default;
$btn-padding-x: 1rem !default;
$btn-padding-y: 0.5rem !default;

$padding: 4 !default;

/// Transitions
/// @group transitions
$transition-function: cubic-bezier(.25, .8, .25, 1) !default;

/// The default transition time to use on most animations/transitions.
/// @type Number
/// @group transitions
$transition-length: .25s !default;

$toolbar-height: 64 !default;
$toolbar-z-index: 6 !default;
$grid-columns: 12 !default;
$grid-gutter: 30px !default;
$grid-breakpoints: ( xs: 0, sm: 768px, md: 992px, lg: 1200px) !default;
$grid-containers: ( xs: 0, sm: 720px, md: 960px, lg: 1140px) !default;



/// The primary color to use throughout the app. This should be a color
/// with a `-500` suffix.
/// @type Color
/// @group themes
$primary-color: $md-light-blue-500 !default;

/// @type Color
$md-primary-color: $primary-color;

/// The opacity to apply to the primary color with the `md-background--primary` class name.
/// @type Number
/// @group themes
$md-primary-hover-opacity: .9 !default;

/// The text color to use for any text that inside the `.md-background--primary` class name.
/// This should ideally pass the color contrast test when.
/// @type Color
$md-primary-background-text-color: $md-white-base !default;

/// The secondary color to use throughout the app. This should be a color
/// with a `-a-{NUMBER}` suffix.
/// @type Color
$md-secondary-color: $md-pink-a-400 !default;

/// @type Color
$accent-color: $md-secondary-color;

/// The opacity to apply to the secondary color with the `md-background--secondary` class name.
/// @type Number
/// @group themes
$md-secondary-hover-opacity: .9 !default;

/// The text color to use for any text that inside the `.md-background--secondary` class name.
/// This should ideally pass the color contrast test when.
/// @type Color
$md-secondary-background-text-color: $md-white-base !default;

/// Boolean if the application is to be themed with the light theme.
/// @type Boolean
/// @group themes
$boldrui-light-theme: true !default;

$shadow-color: rgba(0, 0, 0, .2) !default;

$box-shadow: 0 0 5 $shadow-color !default;
$body-background: #e5eaed !default;
$primary-button-bg: $primary-color !default;
$primary-button-bg-hover: darken($primary-color, 5%) !default;
$selection-color: darken($snow, 3%) !default;
$link-color: $accent-color !default;
$error-color: $md-red-700 !default;
$text-color: $near-black !default;
$header-font-color: $navy !default;
$border-color: $cloud !default;


$primary-header-link-color: $near-black !default;
$primary-header-link-hover-color: $accent-color !default;
$primary-header-border: 1 solid $cloud !default;
$primary-header-bg: $white !default;
$primary-header-link: $ocean !default;


/// Borders
/// @group borders
$border-radius: 0.25rem !default;
$btn-border-radius: $border-radius !default;
$border-width: 1 !default;

/// The default min width for a mobile device.
/// @type Number
/// @group media-queries
$md-mobile-min-width: 320px !default;
/// The default min width for a tablet device.
/// @type Number
/// @group media-queries
$md-tablet-min-width: 768px !default;
/// The default min width for a desktop screen.
/// @type Number
/// @group media-queries
$md-desktop-min-width: 1025px !default;
/// The default mobile media query.
/// @type String
/// @group media-queries
$md-mobile-media: 'screen and (min-width: #{$md-mobile-min-width})' !default;
/// The default media query for a portrait mobile device.
/// @type String
/// @group media-queries
$md-mobile-portrait-media: 'screen and (min-width: #{$md-mobile-min-width}) and (orientation: portrait)' !default;
/// The default media query for a landscape mobile device.
/// @type String
/// @group media-queries
$md-mobile-landscape-media: 'screen and (min-width: #{$md-mobile-min-width}) and (orientation: landscape)' !default;
/// The default media query for a tablet device.
/// @type String
/// @group media-queries
$md-tablet-media: 'screen and (min-width: #{$md-tablet-min-width})' !default;
/// The default media query for a portrait tablet device.
/// @type String
/// @group media-queries
$md-tablet-portrait-media: 'screen and (min-width: #{$md-tablet-min-width}) and (orientation: protrait)' !default;
/// The default media query for a landscape tablet device.
/// @type String
/// @group media-queries
$md-tablet-landscape-media: 'screen and (min-width: #{$md-tablet-min-width}) and (orientation: landscape)' !default;
/// The default media query for a desktop device.
/// @type String
/// @group media-queries
$desktop-media: 'screen and (min-width: #{$md-desktop-min-width})' !default;
/// Boolean if the media queries should be included by default for all component mixins.
/// Set this to false if you want to manually include them. It is really only beneficial
/// if you want to join all media queries into one, but you can always use a postcss plugin
/// to combine them if you are worried about bundle size.
/// @type Boolean
/// @group media-queries
$media-included: true !default;
/// The default accessible height for a lot of material design components.
/// @type Number
/// @group defaults
$md-height: 48px !default;


$layout-transition-speed: .25s !default;

/// Dashboard Topbar
/// @group topbar
$topbar-height: 55px !default;
$topbar-bg: #fff !default;
$topbar-border: ( bottom: ( size: 1px, style: solid, color: $border-color)) !default;
$topbar-brand-width: 155px !default;
$topbar-brand-bg: #fff !default;
$topbar-brand-logo: url('https://boldr.io/logo.png') !default;
$topbar-brand-logo-size: 70px auto !default;
$topbar-brand-border: ( bottom: ( size: 1px, style: solid, color: $border-color)) !default;
$topbar-color: rgba(0, 0, 0, .3) !default;
$topbar-hover-color: rgba(0, 0, 0, .6) !default;
$topbar-active-color: rgba(0, 0, 0, .8) !default;
$topbar-disabled-color: rgba(0, 0, 0, .15) !default;

$sidebar-width: 240px !default;

/// @group topbar
$topbar-nav-bg: #fff !default;
$topbar-nav-color: $text-color !default;
$topbar-nav-borders: ( bottom: ( size: 1px, style: solid, color: $border-color)) !default;
$topbar-nav-ul-borders: ( all: ( size: 1px, style: solid, color: $border-color)) !default;
$topbar-nav-hover-color: #fff !default;
$topbar-nav-hover-bg: $primary-color !default;
$topbar-nav-active-color: #fff !default;
$topbar-nav-active-bg: $primary-color !default;
$topbar-nav-height: $topbar-height - 15px !default;
$zindex-navbar: 1000;

/// Dashboard Footer
/// @group dashboard
$dashboard-footer-height: 50px !default;
$dashboard-footer-bg: $snow !default;
$dashboard-footer-color: $text-color !default;
$dashboard-footer-borders: ( top: ( size: 1px, style: solid, color: $border-color)) !default;
