@charset "utf-8";
@import "vendor/all";
@import "abstracts/all";
@import "base/all";
@import "components/all";

.boldrui-form__radio {
  margin-left: 5px;
  margin-right: 5px;
}

.boldrui-hero {
  background-color: inherit;
}

.boldrui-hero.is-info.boldrui-admin-layout {
  background: #ece9e6;
  background: -webkit-linear-gradient(to right, #f0f3f6, #ece9e6);
  background: linear-gradient(to right, #f0f3f6, #ece9e6);

  .boldrui-hero__body {
    padding: 3.5rem 0;
    align-items: flex-start;
  }
}
