{
  "presets": ["es2015", "stage-2", "react"],
  "plugins": [
    "syntax-flow",
    "transform-class-properties",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": false
    }],
  ],
}
